{% extends 'search/search_base.html' %}

{% block content %}

  <div class="container" style="margin-top: 1cm;">
    {% for item in book_entries %}
      <div class="well">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object"  src="{{ item.image_url }}">
          </a>
          <div class="media-body">
          <h4 class="media-heading"><a href="{{ item.link }}">{{ item.title }}</a></h4>
          <p>{{ item.descript }}</p>
          <ul class="list-inline list-unstyled">
            <li>
              <span><i class="fa fa-calendar"></i> {{ item.time }} {{ item.pub_date }} </span>
            </li>
            <li>|</li>
              <span><i class="fa fa-map-marker"></i> {{ item.author_name }}</span>
            <li>|</li>
            <li>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
            </li>
            <li>|</li>
            <li>
            <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
              <span><i class="fa fa-money"> {{ item.price }}</i></span>
            </li>
            <li><a href="{{ item.link }}" role="button" class="btn btn-success"> Buy Now!</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% empty %}
    <h1 style="font-size:55px;text-align: center;">No Result Found </h1>
    {% endfor %}
  </div>

{% if page.has_previous or page.has_next %}
  <div>
  {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
  |
  {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
  </div>
{% endif %}

{% endblock %}
