{% extends 'base.html' %}

{% block content %}
<div class="navigation" >
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home'  %}" style="font-family: 'Lobster';">Book Shopper</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="font-size:25px;">
          <li><a href="{% url 'home'  %}" data-toggle="tooltip" data-placement="bottom" title="property"><i class="fa fa-home"></i></a></li>
      </ul>
      <div class="col-sm-3 col-md-3 pull-right">
        <form action="" class="navbar-form navbar-right" type="get" action="\search">
          <div class="input-group">
            <input type="text" name="q" placeholder="Search..." class="form-control" />
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" style="font-size:20px">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>
</div>

{% if query %}
  <div class="container" style="margin-top: 1cm;">
    {% for result in page.object_list %}
      <div class="well">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object"  src="{{ result.object.small_url }}">
          </a>
          <div class="media-body">
          <h4 class="media-heading">{{ result.object.title }}</h4>
          <a href="{{result.object.link}}" role="button" class="btn btn-success btn-large pull-right"> Details</a>
          <p>{{ result.object.descript }}</p>
          <ul class="list-inline list-unstyled">
            <li>
              <span><i class="fa fa-calendar"></i> {{result.object.time}}, {{result.object.pub_date}} </span>
            </li>
            <li>|</li>
              <span><i class="fa fa-map-marker"></i> {{ result.object.author_name }}</span>
            <li>|</li>
            <li>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
            </li>
            <li>|</li>
            <li>
            <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
              <span><i class="fa fa-money"> {{result.object.price}}</i></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% empty %}
    <h1 style="font-size:55px;text-align: center;">No Result found </h1>
    {% endfor %}
  </div>

{% if page.has_previous or page.has_next %}
  <div>
  {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
  |
  {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
  </div>
{% endif %}

{% else %}
{# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}


<div class="container">

    <hr>

    <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
            <div class="panel-heading"><h3>Hello.</h3></div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
            Aliquam in felis sit amet augue.
            </div>
          </div>
        </div>
    </div>

{% endblock %}
