{% extends "search/search_base.html" %}

{% block content %}

<div id="content">
    <div class="container">

        <div class="col-md-12">

            <div class="box info-bar">
                <div class="row">
                    <div class="col-sm-12 col-md-4 books-showing">
                        Showing <strong>{{ books|length }}</strong> of <strong>{{ count_num }}</strong> books
                    </div>
                </div>
            </div>

            <div class="row books">

            {% for item in searchform %}
                <div class="col-md-3 col-sm-4">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front">
                                    <a href="{% url "querydata:product" id=item.slug %}">
                                        <div class="img_list">
                                        <img src="{{ item.small_url }}" alt="" style="position:absolute; top:0%; left:50%; margin-right:-50%; transform:translate(-50%,-50%); max-width: 160px; max-height: 140px;">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <h3><a href="{% url "querydata:product" id=item.slug  %}">{{ item.title }}</a></h3>
                            <h3><a href="{% url "querydata:product" id=item.slug  %}">{{ item.author }}</a></h3>
                        </div> <!-- /.text -->
                    </div> <!-- /.product -->
                </div>

               {% endfor %}

            </div> <!-- /.books -->

            <div class="pages">

                <ul class="pagination">
                    {% if page > 1 %}
                    <li>
                    <a href="{% url "querydata:search" keyword=keyword page=1 %}"">&laquo;</a>
                    </li>
                    <li>
                    <a href="{% url "querydata:search" keyword=keyword page=page|add:"-1" %}"">&lt;</a>
                    </li>

                    {% endif %}

                    {% for i in arr_num_p %}
                    {% if i == page %}
                    <li class="active"><a href="javascript:void(0);">{{ i }}</a>
                    </li>
                    {% else %}
                    <li><a href="{% url "querydata:search" keyword=keyword page=i %}"">{{ i }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}

                    {% if page < count_p %}
                    <li>
                    <a href="{% url "querydata:search" keyword=keyword page=page|add:"1" %}"">&gt;</a>
                    </li>
                    <li>
                    <a href="{% url "querydata:search" keyword=keyword page=count_p %}"">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </div> <!-- /.col-md-9 -->

    </div> <!-- /.container -->
</div> <!-- /#content -->

{% endblock %}
