{% extends "base.html" %}
<!DOCTYPE html>


   {% block content %}

        <div id="content">
            <div class="container">

                <div class="col-md-12 hidden-xs visible-lg visible-md hidden-sm">

                   <div class="col-md-12" style="
    background: white;
    margin-bottom: 32px;
">
<p class="text-center" style="
    margin-top: 10px;
"><big style="
    font-size: -webkit-xxx-large; color: #4fbfa8;
">Lost your way? Sweat no more.</big><br><text style="font-size: x-large; color: #555555">To continue please use the Search form or Menu above.</text></p>




<div style="margin-left: auto;display: flex;height: 296px;width: 293px;margin-right: auto; margin-bottom:60px">
                    <img id="error_404_img" src="/static/img/error_404.PNG" style="
    z-index: 10;
">


<div id="yolo" style="
    height: 40px;
    width: 80px;
    z-index: 20;
    margin-left: -250px;
    margin-top: 75px;
    ">


              <div style="width: 90px;height: 40px; position:absolute; border:0px solid gray; border-radius:25px;margin-left: -8px;margin-top: -9px;">
            <div id="pupil1" style="width: 10px; height: 10px; border-radius: 5px; position: absolute; left: 26px; top: 24px; background-color: black;"></div>
            <div id="pupil2" style="width: 10px; height: 10px; border-radius: 5px; position: absolute; left: 70px; top: 24px; background-color: black;"></div>


        </div>




</div>


<!-- <p class="buttons text-center"><a href="/" class="btn btn-primary"><i class="fa fa-home"></i> Go to Homepage</a>
                                </p>
                     -->


                </div>



                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.container -->


                <div class="col-md-12 visible-xs hidden-lg hidden-md visible-sm">

                    <ul class="breadcrumb">
                        <li><a href="/">Home</a>
                        </li>
                        <li>Page not found</li>
                    </ul>

                    <div class="row" id="error-page">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="box">

                                <p class="text-center">
                                    <img src="/static/img/m_404.png" alt="Obaju template">
                                </p>

                                <h3 style="color: #4fbfa8;">Lost your way? Sweat no more.</h3>


                                <p class="text-center">To continue please use the <strong>Search form</strong> or <strong>Menu</strong> above.</p>


                            </div>
                        </div>
                    </div>

            </div>
            <!-- /.container -->




        </div>
        </div>
        <!-- /#content -->


{% endblock %}
