<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>BookShopper</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="">

    <!-- styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/css/animate.min.css" rel="stylesheet" />

    <!-- theme stylesheet -->
    <link href="/static/css/style.default.css" rel="stylesheet" />
    <!-- your stylesheet with modifications -->
    <link href="/static/css/custom.css" rel="stylesheet" />
    <link href="/static/css/skeleton.css" rel="stylesheet" />
    <link href="/static/css/select2.css" rel="stylesheet" />
    <link href="/static/css/results_page_v2.css" rel="stylesheet" />

    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="/static/favicon.png">
</head>
<body>

{% block content %}
{% endblock %}

  <div id="footer" data-animate="fadeInUp">

    <div class="container">
      <div class="row">

          <div class="col-md-3 col-sm-6">
              <h4>Pages</h4>
              <ul>
                  <li><a href="{% url "querydata:about" %}">About us</a>
                  </li>
                  <li><a href="{% url "querydata:faq" %}">FAQ</a>
                  </li>
                  <li><a href="{% url "querydata:contact" %}">Contact us</a>
                  </li>
              </ul>
              <hr class="visible-xs visible-sm">
          </div> <!-- /.col-md-3 -->

          <div class="col-md-3 col-sm-6">
              <h4>Top Books</h4>
              <ul>
                  <li><a href="#" class="cat-anchor">Fiction</a>
                  </li>
                  <li><a href="#" class="cat-anchor">Fiction</a>
                  </li>
                  <li><a href="#" class="cat-anchor">Fiction</a>
                  </li>
              </ul>
              <hr class="hidden-md hidden-lg">
          </div> <!-- /.col-md-3 -->

          <div class="col-md-3 col-sm-6">
              <h4>Where to find us</h4>
              <p><strong>Company Name </strong>
                  <br>First Name
                  <br>Address
                  <br>Address
                  <br>City
              </p>
         <!--     <a href="/static/contact.html">Go to contact page</a> -->
              <hr class="hidden-md hidden-lg">
          </div> <!-- /.col-md-3 -->

          <div class="col-md-3 col-sm-6">
              <h4>Get the latest discounts & coupons</h4>
              <p class="text-muted">Latest discounts and coupons on Flipkart, Amazon, eBay and Snapdeal.</p>
              <form>
                  <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Subscribe!</button>
                      </span>
                  </div>
                  <!-- /input-group -->
              </form>
              <hr>

              <h4>Stay in touch</h4>
              <p class="social">
                  <a id="fb_footer" href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                  <a id="twitter_footer" href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                  <a id="instagram_footer" href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                  <a id="gplus_footer" href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                  <a id="email_footer" href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
              </p>
          </div> <!-- /.col-md-3 -->

      </div> <!-- /.row -->
    </div> <!-- /.container -->

  </div> <!-- /#footer -->

  <div id="copyright">
    <div class="container">
      <div class="col-md-12">
        <p class="text-center">© 2015 Bookshopper</p>
      </div>
    </div> <!-- /.container -->
  </div> <!-- /.copyright -->

<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/select2.js"></script>
<script src="/static/js/select2rocks.js"></script>
</body>
</html>
