{% extends 'base.html' %}
{% block imports %}
{% load static %}
{% block content %}
<div class="container-full">

  <div class="row">
    <div class="col-lg-12 text-center v-center">

      <div style="font-size:39pt;">
        <a href="{% url 'querydata:home' %}" data-toggle="tooltip" data-placement="bottom" title="book"><i class="fa fa-book"></i></a>
        <h1 style="font-family:'Lobster';">Book Shopper</h1>
      </div>
      <br /><br /><br /><br />

      <div class="searchform">

        <form class="form-inline" role="search" method="GET" action="{% url 'querydata:search' %}">
          <div class="input-group input-lg" name="search">
          <!--
          <div class="form-group" style="width:25% ; right:28px; display:flex; position:absolute;">
          -->
            <!--
            {{ formbook.q }}
            -->
            {{ bookform }}
            {{ authorform }}
            <!--
            <input class="form-control" id="id_searchbar" type="text" name="search_text" placeholder="Search...">
            -->
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" name=""><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>

      </div> <!-- /searchform -->

    </div>
  </div> <!-- /row -->

  {% if messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
      {% for message in messages %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
      <h1 {% if message.tags %} class="{{ message.tags }}" {% endif %}><strong>{{ message }} </strong></h1>
      {% endfor %}
   </div>
  {% endif %}

  <div class="row">
    <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
      <p class="lead"> A book's price comparison service </p>
    </div>
  </div> <!-- /row -->
      <br /><br /><br /><br />

</div> <!-- /container full -->

{% endblock %}
{% endblock %}
